.c-form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.c-form__body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 30%;
}
.c-form-input {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
}
.c-form-input__label {
	color: var(--Cadet-Blue);
	width: 100%;
}
.c-form-input__data {
	height: 1.3rem;
	width: 100%;
}

.c-form-button {
	margin: 1rem;
	width: 100%;
}
